<?xml version="1.0" encoding="utf-8"?>
<!--
    server.xml for ** zia ** ->> server configuration file
  -->
<server name="ZapII">
  <default_port value="4242" />
  <config>
    <listen port="80" type="HTTP" />
    <listen port="443" type="SSL" />
  </config>
  <ssl_certificate_file file="../ssl/zia.crt" />
  <ssl_certificate_keyfile file="../ssl/zia.key" />
  <shutdown value="shutdown42"/>
  <debug value="true" />
  <log>
    <warning file="../logs/zia_warning.log" />
    <error file="../logs/zia_error.log" />
  </log>
  <document_root value="C:\www" />
  <module_directory value="../modules/" />
  <cgi_script value="/tmp/cgi-bin" />
  <timeout value="30" />
  <!-- <timeout value="-1" /> : disable -->
  <mime_type>
    <tools ext="html" content="text/html" />
    <tools ext="jpeg" content="text/jpeg" />
  </mime_type>
  <status_code>
    <file file_404="file404.html" />
  </status_code>
  <file_404 value="file_404.html" />
</server>
