<?xml version="1.0" encoding="utf-8"?>
<!--
    server.xml for ** zia ** ->> server configuration file
  -->
<server name="ZapII">
  <config>
    <listen port="4242" ssl="true" />
    <listen port="4243" ssl="false" />
    <listen port="4244" ssl="false" />
    <listen port="4245" ssl="true" />
  </config>
    <shutdown value="shutdown42"/>
    <debug value="true" />
    <respect_rfc value="strict" />
    <document_root value="/tmp" />
    <cgi_script value="/tmp/cgi-bin" />
    <timeout value="30" />
    <!-- <timeout value="-1" /> : disable -->
    <mime_type>
      <tools ext="html" content="text/html" />
      <tools ext="jpeg" content="text/jpeg" />
    </mime_type>
    <module_directory value="../modules/" />
    <file_404 value="file404.html" />
</server>
