<?xml version="1.0" encoding="utf-8"?>
<!--
    server.xml for ** Zia ** ->> server configuration file
  -->
<server name="myZia">
  <config>
    <port value="4242" />
    <shutdown value="shutdown42"/>
    <debug value="true" />
    <respect_rfc value="strict" />
    <document_root value="/tmp" />
    <cgi_script value="/tmp/cgi-bin" />
  </config>
  <virtual_host>
    <rootdir value="~toto" />
    <host value="127.0.0.1" />
    <domain value="toto.com" />
    <logdir value="~toto/log" />
    <errdir value="~toto/err" />
  </virtual_host>
  <virtual_host>
    <rootdir value="~tata" />
    <host value="127.0.0.1" />
    <domain value="tata.com" />
    <logdir value="~tata/log" />
    <errdir value="~tata/err" />
  </virtual_host>
</server>
