<?xml version="1.0" encoding="utf-8"?>
<!--
    server.xml for ** zia ** ->> server configuration file
  -->
<server name="ZapII">
  <config>
    <port value="4242" />
    <shutdown value="shutdown42"/>
    <debug value="true" />
    <respect_rfc value="strict" />
    <document_root value="/tmp" />
    <cgi_script value="/tmp/cgi-bin" />
    <timeout value="30" />
    <!-- <timeout value="-1" /> : disable -->
    <content_type value="42" >
      <html value="text/html" />
    </content_type>
    <module_directory value="./modules/" />
    <list_module>
      <module name="42.so" enabled="true" />
      <module name="test.so" enabled="false" />
    </list_module>
  </config>
</server>
